StackPane {
    -fx-alignment: center;
}
.board {
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.label{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
.player{
    -fx-background-color: darkgreen;
}
.playerSpecial{
    -fx-background-color: darkgreen;
    -fx-border-color: purple;
    -fx-border-width: 4px;

}
.enemy{
    -fx-background-color: darkred;
}
.move{
    -fx-border-color: darkblue;
}






.playerLifeBar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: green;
}

.enemyLifeBar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: red;
}
