StackPane {
    
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-alignment: center;
}
.label{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
.casellaplayer{
    -fx-background-color: darkgreen;
}
.casellaenemy{
    -fx-background-color: red;
}
.caselladanno{
    -fx-border-color: yellow;
}






.playerLifeBar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: green;
}

.enemyLifeBar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: red;
}
