StackPane {
    
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-alignment: center;
}
.casellaplayer{
    -fx-background-color: darkgreen;
}
.casellaenemy{
    -fx-background-color: red;
}
