StackPane {
    
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-alignment: center;
}
.label{

    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
.unlocked{
    -fx-background-color: lightgreen;
    fx-border-color: black;
    -fx-border-width: 1px;
}
.unlocked:selected{
    -fx-background-color: green;
    fx-border-color: black;
    -fx-border-width: 1px;
}
.lost{
    -fx-background-color: lightgrey;
    fx-border-color: black;
    -fx-border-width: 1px;
}

